.Wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container {
  padding: 20px;
}

.Element {
  box-sizing: border-box;
  margin: 10px 0;
}

.Submit {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 20px;
}
